<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2019/blob/master/day1_python/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 #  Python Data Types

## PETE 2061 Lab 2 Workbook 

## THIS IS DUE BY 10:20 AM TODAY

<a id='top'></a>

<a id='variables'></a>
## Decline Curve Analysis
Wells A, B, and C flow with an initial flow rate ($q_i$) of 5,000 bopd (barrels of oil per day), and have a continuous initial decline rate ($D_i$) of 20% per year. Well A declines exponentially, while well B declines hyperbolically, with a b-exponent of 0.5, and well C declines harmonically (this means that b = 0). <br><br>

Step 1. Import the math library (so that the exponential function is available). <br>

In [2]:
import math

Step 2. Create variables named q_i, D_i and b, and assign them to the given initial flow rate, initial decline rate, and hyperbolic b-exponent of 0.5, respectively. <br>

In [ ]:
q_i = 5000
D_i = .2
b = .5

Step 3. Using the list() and range() functions, create a list named t, and use it store time in years; starting from 0 to 3 years, and in increments of 1 year. The first item in list t will be 0, and the last item will be 3.<br>

In [4]:
t = [0, 1, 2, 3]

Step 4. Create a list named q_A, and fill it with four zeros. <br>

In [7]:
q_A = [0, 0, 0, 0]

Step 5. Also create lists named q_B and q_C and let them store four zeros each. Note that q_A, q_B and q_C correspond to the flow rates of wells A, B and C, respectively. <br>

In [9]:
q_B = [0, 0, 0, 0]
q_C = [0, 0, 0, 0]

Step 6. Using the appropriate equation for well A, 
    (a) compute the its rate at a time of 0 years, and store it in the first index of the list, q_A. Double-check that your result for this is equal to the initial flow rate.
    (b) compute the its rate after 1 year and store it in the second index of the list, q_A.
    (c) compute the its rate after 2 years and store it in the third index of the list, q_A.
    (d) compute the its rate after 3 years and store it in the fourth index of the list, q_A. <br>

In [44]:
t=0
A0=5000*math.exp(-.2*t)
t=1
A1=5000*math.exp(-.2*t)
t=2
A2=5000*math.exp(-.2*t)
t=3
A3=5000*math.exp(-.2*t)
q_A = [{A0}, {A1}, {A2}, {A3}]

Step 7. Print out list q_A. <br>

In [12]:
print(q_A)

[{5000.0}, {4093.653765389909}, {3351.600230178197}, {2744.058180470132}]

Step 8. Using the appropriate equation for wells B and C, compute and store the corresponding four rates in q_B and q_C. This is similar to the steps in 6 (a) through (d), but with the hyperbolic and harmonic decline curve equations, respectively. <br>

In [40]:
t=0
B0=5000/(1 + (.5)*(.2)*(t))**(2)
t=1
B1=5000/(1 + (.5)*(.2)*(t))**(2)
t=2
B2=5000/(1 + (.5)*(.2)*(t))**(2)
t=3
B3=5000/(1 + (.5)*(.2)*(t))**(2)
q_B = [{B0}, {B1}, {B2}, {B3}]

t=0
C0=5000/(1 + (.2)*(t))
t=1
C1=5000/(1 + (.2)*(t))
t=2
C2=5000/(1 + (.2)*(t))
t=3
C3=5000/(1 + (.2)*(t))
q_C = [{C0}, {C1}, {C2}, {C3}]

Step 9. Print out lists q_B and q_C <br>

In [41]:
print(q_B)
print(q_C)

[{5000.0}, {4132.231404958677}, {3472.222222222222}, {2958.5798816568044}]
[{5000.0}, {4166.666666666667}, {3571.4285714285716}, {3125.0}]

Step 10. Using all that you have learned so far, compute the corresponding cumulative production (Q_A, Q_B and Q_C) using the analytical expressions in your lecture notes. Print out the four items in each of these three lists. <br>

In [45]:
A0 = (5000-A0)/.2
A1 = (5000-A1)/.2
A2 = (5000-A2)/.2
A3 = (5000-A3)/.2

t=0
B0 = (5000/(.2)*(.5))*(1-(1/(1 + (.5)*(.2)*t)))
t=1
B1 = (5000/(.2)*(.5))*(1-(1/(1 + (.5)*(.2)*t)))
t=2
B2 = (5000/(.2)*(.5))*(1-(1/(1 + (.5)*(.2)*t)))
t=3
B3 = (5000/(.2)*(.5))*(1-(1/(1 + (.5)*(.2)*t)))

t=0
C0 = (5000/.2)*(math.log(1 + .2*t))
t=1
C1 = (5000/.2)*(math.log(1 + .2*t))
t=2
C2 = (5000/.2)*(math.log(1 + .2*t))
t=3
C3 = (5000/.2)*(math.log(1 + .2*t))

Q_A = [{A0}, {A1}, {A2}, {A3}]
Q_B = [{B0}, {B1}, {B2}, {B3}]
Q_C = [{C0}, {C1}, {C2}, {C3}]
print(Q_A)
print(Q_B)
print(Q_C)

[{0.0}, {4531.731173050454}, {8241.998849109015}, {11279.70909764934}]
[{0.0}, {1136.3636363636367}, {2083.333333333333}, {2884.6153846153857}]
[{0.0}, {4558.038919848865}, {8411.805915530322}, {11750.090731143391}]

Step 11. Using the Trapezoidal rule for well A, compute the volume of oil (in barrels) produced between:
    (a) time = 0 and time = 1 year
    (b) time = 1 and time = 2 years
    (c) time = 2 and time = 3 years. <br>

In [48]:
y_1 = .5*(4531.731173050454 + 0.0)
y_2 = .5*(4531.731173050454 + 8241.998849109015)
y_3 = .5*(8241.998849109015 + 11279.70909764934)

print(y_1)
print(y_2)
print(y_3)

2265.865586525227
6386.865011079735
9760.853973379177

Step 12. Add up the three results from 11(a), (b) and (c) to obtain the cumulative production for well A after 3 years. <br>

In [51]:
cum_prod = (y_1 + y_2 + y_3)
print(cum_prod)

18413.584570984138

Step 13. Compare the result from Step 12 (a numerical integration) to the result stored in the last item in list Q_A (an exact integration). Compute the relative error (in %) of the numerical integration. <br>

In [54]:
error = (cum_prod - 11279.70909764934)/(cum_prod)
p_error = 0.3874245911128166*100
print(p_error)

38.742459111281654